<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<a wicket:id="clickLink" class="memoCardLink standard_large"><img wicket:id="cardImage"/></a>
</wicket:panel>
