<?xml version="1.0" encoding="UTF-8" ?>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<table>
		<tr wicket:id="rows">
			<td wicket:id="columns"/>
		</tr>
	</table>
	<a wicket:id="restartLink" class="restartLink"><wicket:message key="restart.message"/></a>
	<p wicket:id="winMessage" class="winMessage"/>
</wicket:panel>
