body {
	background-color: #483e3e;
}

table {
	border-spacing: 1em;
	border-collapse: separate;
	float: left;
}

h1 {
	margin-left: 5em;
	font-family: fantasy;
	color: white;
	font-size: 2.1em;
}

.memoCardLink {
	background-color: red;
	display: block;
	background-image: url("https://i.annihil.us/u/prod/misc/marvel.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 6em;
	border-radius: 10px;
	text-align: center;
}

.standard_xlarge {
	width: 12.5em;
	height: 12.5em;
}

.standard_large {
	width: 7em;
	height: 7em;
}

.memoCardLink img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.memoCardLink img.discovered {
	filter: brightness(80%);
}

.winMessage {
	display: block;
    width: 5em;
    height: 1em;
    font-size: 4em;
    position: absolute;
    left: 2.3em;
    top: 3em;
    background-color: white;
    padding: 0.1em;
    background-color: red;
    border-radius: 30px;
    color: white;
    padding: 0.5em;
    font-family: monospace;
    text-align: center;
}

.restartLink {
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 1em;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.5em;
    float: left;
    margin-top: 1em;
    margin-left: 8em;
}
